.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js

# ignore reveal.js files, to commit only presentation-specific content
css
js
lib
plugin
test
.travis.yml
bower.json
CONTRIBUTING.md
demo.html
Gruntfile.js
LICENSE
package.json
README.md
